{%extends 'base.html'%}

{%block content%}
<head>

      <style>
          .h{
            text-decoration: none;
            color: rgb(128, 128, 128);
          }
          .h:hover{
            color: orange;
          }
      </style>
    </head>
    <body style="background-color: rgb(255, 249, 249);">

      <div style="background-color: black;width: 100%;height: 100px;">
        <h2 style="color: white; padding-left: 200px;padding-top: 35px;float: left;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 20px;">Amenities</h2>
        <div style="color: white; float: right;font-size: 16px;padding: 35px 155px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            <a href="http://127.0.0.1:8000/" class="h">Home&nbsp;</a>
            <span style="color: rgb(128, 128, 128);">&nbsp;/&nbsp;&nbsp;&nbsp;Amenities</span>
        </div>
    </div><br><br>

    <div style="width: 100%;height: 260px;">
      <div style="width: 38%;float: left;">
        <img style="padding-left: 200px;width: 550px;height: 200px;" src="https://gurukulschool.org/assets/images/auditorium.jpg">
      </div>
      <div style="width: 62%;float: left;">
        <h2 style="padding-top: 22px;">RK Galaxy Auditorium</h2>
        <p style="color: grey;font-size: 16px;padding-top: 15px;">Amenity of spacious auditorium is provided in the year 2019. It has world class acoustics, lighting system and air</p>
        <p style="color: grey;font-size: 16px;">coolers to enjoy and performance. Newly Build State of the art Auditorum with the capacity of 3000 spectators.</p>
      </div>
    <div style="border-bottom: solid 0.4px rgb(216, 216, 216); width: 1200px;padding-top: 230px;margin-left: 195px;"></div>
    </div>

    <div style="width: 100%;height: 260px;">
      <div style="width: 38%;float: left;">
        <img style="padding-left: 200px;width: 550px;height: 200px;" src="https://gurukulschool.org/assets/images/swimming-pool.jpg">
      </div>
      <div style="width: 62%;float: left;">
        <h2 style="padding-top: 10px;">Swimming Pool</h2>
        <p style="color: grey;font-size: 16px;padding-top: 15px;">A semi olympiad size swimming pool is available to provide the opportunity to learn swiming. Trained coatches</p>
        <p style="color: grey;font-size: 16px;">are appointed to teach swimming and required precautionary measures are undertaken to ensure safe learning</p>
        <p style="color: grey;font-size: 16px;">of healthy sport.</p>
      </div>
    <div style="border-bottom: solid 0.4px rgb(216, 216, 216); width: 1200px;padding-top: 230px;margin-left: 195px;"></div>
    </div>

    <div style="width: 100%;height: 260px;">
      <div style="width: 38%;float: left;">
        <img style="padding-left: 200px;width: 550px;height: 200px;" src="https://gurukulschool.org/assets/images/computer-lab.jpg">
      </div>
      <div style="width: 62%;float: left;">
        <h2 style="padding-top: 22px;">Computer Lab</h2>
        <p style="color: grey;font-size: 16px;padding-top: 15px;">Every student gets an opprtunity to try his skill and quench his thirst for knowledge when he visits modern</p>
        <p style="color: grey;font-size: 16px;">computer lab and get access to computer and explore the world of knowledge through internet.</p>
      </div>
    <div style="border-bottom: solid 0.4px rgb(216, 216, 216); width: 1200px;padding-top: 230px;margin-left: 195px;"></div>
    </div>  

    <div style="width: 100%;height: 260px;">
      <div style="width: 38%;float: left;">
        <img style="padding-left: 200px;width: 550px;height: 200px;" src="https://gurukulschool.org/assets/images/science-lab.jpg">
      </div>
      <div style="width: 62%;float: left;">
        <h2 style="padding-top: 22px;">Mathematics & Science Lab</h2>
        <p style="color: grey;font-size: 16px;padding-top: 15px;">The school has well-equipped laboratories and provides opportunity to every student to perform all the</p>
        <p style="color: grey;font-size: 16px;">experiments. Gurukul believes in promoting "Learning by doing"</p>
      </div>
    <div style="border-bottom: solid 0.4px rgb(216, 216, 216); width: 1200px;padding-top: 230px;margin-left: 195px;"></div>
    </div>


    <div style="width: 100%;height: 260px;">
      <div style="width: 38%;float: left;">
        <img style="padding-left: 200px;width: 550px;height: 200px;" src="https://gurukulschool.org/assets/images/library.jpg">
      </div>
      <div style="width: 62%;float: left;">
        <h2 style="padding-top: 0px;">Library</h2>
        <p style="color: grey;font-size: 15px;padding-top: 5px;">Rich school library is an important centre of activity for every student. Large number of books, encylopedias, CDs,</p>
        <p style="color: grey;font-size: 15px;">pictorials on various subjects attract the students to supplement the class room learning . References, news</p>
        <p style="color: grey;font-size: 15px;">papers and magazines are availble to update their knowledge with CBSE support material for practice and</p>
        <p style="color: grey;font-size: 15px;">develop reading habit from an early age.</p>
      </div>
    <div style="border-bottom: solid 0.4px rgb(216, 216, 216); width: 1200px;padding-top: 230px;margin-left: 195px;"></div>
    </div>

    <div style="width: 100%;height: 260px;">
      <div style="width: 38%;float: left;">
        <img style="padding-left: 200px;width: 550px;height: 200px;" src="https://gurukulschool.org/assets/images/busses.jpg">
      </div>
      <div style="width: 62%;float: left;">
        <h2 style="padding-top: 40px;">Bus Facility</h2>
        <p style="color: grey;font-size: 16px;padding-top: 20px;">The institute provides bus facility for students and staff members.</p>
      </div>
    </div>
    {%endblock%}
 </body>