{%extends 'base.html'%}

{%block content%}
<head>

      <style>
          .h{
            text-decoration: none;
            color: rgb(128, 128, 128);
          }
          .h:hover{
            color: orange;
          }
      </style>
    </head>
    <body style="background-color: rgb(241, 241, 241);">

      <div style="background-color: black;width: 100%;height: 100px;">
        <h2 style="color: white; padding-left: 200px;padding-top: 35px;float: left;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size: 20px;">Bus Routes & Staff</h2>
        <div style="color: white; float: right;font-size: 16px;padding: 35px 155px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
            <a href="http://127.0.0.1:8000/" class="h">Home&nbsp;</a>
            <span style="color: rgb(128, 128, 128);">&nbsp;/&nbsp;&nbsp;&nbsp;Bus Routes & Staff</span>
        </div>
    </div><br><br>

    <div style="width: 100%;height: 100px;">
      <p style="font-size: 46px;margin-left: 440px;float: left;font-size: 46px;font-weight: 400;"><b style="border-bottom: solid 2px lightsalmon;">Bus Routes & Staff</b></p>
      <div>
          <span style="float: left;padding-left: 15px;font-size: 46px;font-weight: 300;">Of Gurukul</span>
      </div>
    </div><br>

      <div style="width: 1175px;height: 50px; border: 1px solid lightgrey;margin-left: 180px;">
        <h6 style="text-align: center;padding-top: 15px;font-weight: 700;">SESSION 2019-20</h6>
      </div>
      <table style="margin-left: 180px;">
        <thead>
          <th style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">S.NO.</th>
          <th style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BUS NO.</th>
          <th style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DRIVER</th>
          <th style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DRIVER CONTACT</th>
          <th style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">CLEANER</th>
          <th style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">CLEANER CONTACT</th>
          <th style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">ROUTE</th>
        </thead>

        <tbody>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">1</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P4184</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">ANIL GUPTA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9993906749</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">RAHUL PATIL</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8461845564</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MANDLESHWAR</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">2</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P4284</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KALU BHAWEL</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7582030584</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">ASHARAM</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6232685844</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MANAWAR</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">3</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P4384</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KAMAL KHEDE</td>
            <td style="width: 175x;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9755631225</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SANJAY RANE</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">NIL</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BALSAMUND</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">4</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P4084</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">JAI SINGH</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7441166196</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">NIL</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">NIL</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHAMNOD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">5</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3584</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DILIP DIGHE</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8827868427</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KAMAL PATEL</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8965034901</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHAMNOD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3684</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">RAKESH YADAV</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9926075931</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BALLU BUNDELA</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6264808709</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHAMNOD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3784</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">RAJESH PURI</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7697660305</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">VINOD CHAUHAN</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9753331840</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DAWANA</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3884</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SURESH CHOUHAN</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9981795674</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SHANKAR SOLANKI</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9691268653</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BARUPHATAK</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3984</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">VIJAY VERMA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8827090109</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DILIP YADAV</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7999713177</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KHALGHAT</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">10</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1084</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">JITENDRA SISODIYA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9754196924</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KAILASH MOURYA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9165833962</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BAGDIPURA</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">11</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1184</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">ANAR SINGH</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7354506291</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DINESH</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7828072201</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MORGADI</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">12</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1284</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KALYAN BARIYA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8889580985</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BABLU MEDA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6265527717</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHAMNOD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">13</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1384</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MAHENDRA HRCHAN</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8435039545</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">LAKHAN SETHANA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6266005572</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BEGANDA</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">14</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1584</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">GOPAL AVAIYA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9753788147</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">VARUN VERMA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8964920930</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">PIPALDAGADI</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">15</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1684</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">RAJENDRA ATRE</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9753221744</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KALU CHOUHAN</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9826427899</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHAMNOD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">16</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1784</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SANJAY RATHOD</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9575761961</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">RAMESH CHOUHAN</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">	7747094416</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHAMNOD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">17</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1884</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">RAVINDRA YADAV</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9993100528</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KANHAIYA CHANDEL</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6266137203</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">GUJRI</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">18</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P1984</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BHARAT JAMRA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9179323884</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BALRAM JAMRA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8085439152</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DABAD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">19</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2084</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">JAGDISH CHOUHAN</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6264110687</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KAMAL BHARGAV</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8959112065</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">NIMRANI</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">20</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2184</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SHAILENDRA NIGWAL</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7389979653</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MANINDAR MANDLOI</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8349513728</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHEGDA</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">21</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2284</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">AMBARAM MEDA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9981015050</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SANJAY BADKIYA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">99268809368</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHAMNOD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">22</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2384</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SHYAM MANDLOI</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9754545879</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DEVRAJ</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7746907188</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SUNDREL</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">23</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2484</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DIPAK YADAV</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8889836771</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MOHAN BUNDELA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9753501740</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHAMNOD</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">24</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2584</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MUKESH PATEL</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8435752090</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">GOVIND SHEHARE</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7697402835</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">ITAWADI</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">25</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2684</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">AMBARAM KATARE</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9584668380</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">PARMANAND KARMA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9644081870</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">GUJRI</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">26</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2784</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">NILESH VERMA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9754520979</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SANTOSH VERMA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9754520979</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KUWAN</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">27</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2884</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">GANPAT MUWEL</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7909786728</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">SUNIKL BENAL</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7049965304</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">BAKANER</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">28</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P2984</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">ASHARAM CHOUHAN</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9617386635</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DEEPAK BUNDELA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8823043834</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHARAMPURI</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">29</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3084</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MANOHAR DHANGAR</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9617181386</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">NILESH THAKUR</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8518854354</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">THIKRI</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">30</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3184</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DINESH MUWEL</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9685679081</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MUKESH MUWEL</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6263711881</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">LUNEHRA</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">31</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3284</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">VITTHAL DAS SARAF</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">6261361101</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KAILASH SHARMA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7879506991</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MAHESHWAR</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">32</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3384</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">RAJENDRA SHARMA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9981795672</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">RAJESH YADAV</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9926024468</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MATMUR</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">33</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P3484</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DARA SIGH MOURYA</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">9893352571</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">VINOD MOURYA</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">7247451540</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">KOTHDA</td>
          </tr>
          <tr>
            <td style="width: 90px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">34</td>
            <td style="width: 150px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">MP11P4484</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">HEMENDRA CHOUHAN</td>
            <td style="width: 175px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">62683995281</td>
            <td style="width: 200px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">HUKUM CHOUHAN</td>
            <td style="width: 160px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">8827079134</td>
            <td style="width: 180px;height: 50px;padding-left: 8px;margin: auto;border: 1px solid lightgrey;">DHARAMPURI</td>
          </tr>
          
        </tbody>
      </table>
      <br><br><br><br><br>
    {%endblock%}
 </body>