
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Notice Board &#8211; Gurukul School</title>
        <!-- seo purpose -->
        <meta name="keywords" content="Gurukul School">
        <meta name="description" content="">
        <!-- common head -->
        <!-- meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content="Worthever Multimedia Solutions">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
		<!-- favicon icon -->
		<link rel="shortcut icon" href="https://gurukulschool.org/assets/images/favicon.png">
		<link rel="apple-touch-icon" href="https://gurukulschool.org/assets/images/favicon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="https://gurukulschool.org/assets/images/favicon.png">
		<link rel="apple-touch-icon" sizes="114x114" href="https://gurukulschool.org/assets/images/favicon.png">
		<!-- style sheets and font icons  -->
		<link rel="stylesheet" type="text/css" href="https://gurukulschool.org/assets/css/font-icons.min.css">
		<link rel="stylesheet" type="text/css" href="https://gurukulschool.org/assets/css/theme-vendors.min.css">
		<link rel="stylesheet" type="text/css" href="https://gurukulschool.org/assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="https://gurukulschool.org/assets/css/responsive.css" />

		<!-- Social Media Meta Essentials -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Gurukul School">
		<meta name="twitter:description" content="Established in 2003 the institution has solid foundations embedded with rich value system and all set to prepare tiny tots fit for ultra-modern generation.">
		<meta name="twitter:url" content="https://gurukulschool.org/">
		<meta name="twitter:image" content="https://gurukulschool.org/assets/images/gurukul-logo.png">

		<meta property="og:title" content="Gurukul School">
		<meta property="og:description" content="Established in 2003 the institution has solid foundations embedded with rich value system and all set to prepare tiny tots fit for ultra-modern generation.">
		<meta property="og:url" content="https://gurukulschool.org/">
		<meta property="og:site_name" content="Gurukul School">
		<meta property="og:image" content="https://gurukulschool.org/assets/images/gurukul-logo.png">
		    </head>
    <body data-mobile-nav-style="classic">
        <!-- start header -->
                <header>
            <nav class="navbar top-space navbar-expand-lg navbar-boxed navbar-light header-light fixed-top header-reverse-scroll">                <div class="container-fluid nav-header-container">
                    <div class="col-auto col-sm-6 col-lg-2 me-auto ps-lg-0">
                        <a class="navbar-brand" href="https://gurukulschool.org">
                            <img src="https://gurukulschool.org/assets/images/gurukul-logo.png" data-at2x="https://gurukulschool.org/assets/images/gurukul-logo.png" class="default-logo" alt="">
                            <img src="https://gurukulschool.org/assets/images/gurukul-logo.png" data-at2x="https://gurukulschool.org/assets/images/gurukul-logo.png" class="alt-logo" alt="">
                            <img src="https://gurukulschool.org/assets/images/gurukul-logo.png" data-at2x="https://gurukulschool.org/assets/images/gurukul-logo.png" class="mobile-logo" alt="">
                        </a>
                    </div>
                    <div class="col-auto menu-order px-lg-0">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav alt-font">
                                <li id="home" class="nav-item"><a href="https://gurukulschool.org/" class="nav-link">Home</a></li>
                                <li id="about" class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0)" class="nav-link">About</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li id="gurukul-overview" class="dropdown"><a href="https://gurukulschool.org/gurukul-overview/">Gurukul Overview</a></li>
                                        <li id="governing-body" class="dropdown"><a href="https://gurukulschool.org/governing-body/">Governing Body</a></li>
                                        <li id="amenities" class="dropdown"><a href="https://gurukulschool.org/amenities/">Amenities</a></li>
                                    </ul>
                                </li>
                                <li id="info" class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0)" class="nav-link">Info</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li id="pride-of-gurukul" class="dropdown"><a href="https://gurukulschool.org/pride-of-gurukul/">Pride of Gurukul</a></li>
                                        <li id="notice-board" class="dropdown"><a href="https://gurukulschool.org/notice-board/">Notice Board</a></li>
                                        <li id="activities-info" class="dropdown"><a href="https://gurukulschool.org/activities/">Activities</a></li>
                                        <li id="board-results" class="dropdown"><a href="https://gurukulschool.org/board-results/">Board Results</a></li>
                                        <li id="cbse-mandatory" class="dropdown"><a href="#">CBSE Mandatory</a></li>
                                        <li id="bus-route" class="dropdown"><a href="https://gurukulschool.org/bus-routes-and-staff/">Bus Route &amp; Staff</a></li>
                                    </ul>
                                </li>
                                <li id="academic" class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0)" class="nav-link">Academic</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li id="affiliations" class="dropdown"><a href="https://gurukulschool.org/affiliations/">Affiliations</a></li>
                                        <li id="faculty-staff" class="dropdown"><a href="https://gurukulschool.org/faculty-and-staff/">Faculty &amp; Staff</a></li>
                                        <li id="curriculum" class="dropdown">
                                            <a data-bs-toggle="dropdown" href="javascript:void(0);">Curriculum<i class="fas fa-angle-right dropdown-toggle"></i></a>
                                            <ul class="dropdown-menu">
                                                <li id="pre-primary"><a href="#">Pre Primary</a></li>
                                                <li id="primary"><a href="#">Primary</a></li>
                                                <li id="secondary"><a href="#">Secondary</a></li>
                                                <li id="senior-secondary"><a href="#">Sr. Secondary</a></li>
                                            </ul>
                                        </li>
                                        <li id="admission" class="dropdown">
                                            <a data-bs-toggle="dropdown" href="javascript:void(0);">Admission<i class="fas fa-angle-right dropdown-toggle"></i></a>
                                            <ul class="dropdown-menu">
                                                <li id="admission-form"><a href="#">Admission Form</a></li>
                                                <li id="procedure"><a href="#">Procedure</a></li>
                                                <li id="fees-structure"><a href="#">Fees Structure</a></li>
                                                <li id="rules-regulation"><a href="#">Rules &amp; Regulations</a></li>
                                            </ul>
                                        </li>
                                        <li id="timetable" class="dropdown">
                                            <a data-bs-toggle="dropdown" href="javascript:void(0);">Time Table<i class="fas fa-angle-right dropdown-toggle"></i></a>
                                            <ul class="dropdown-menu">
                                                <li id="pre-primary"><a href="https://gurukulschool.org/assets/uploads/half-yearly-exam-class-12.pdf" target="_blank">Half Yearly - XII</a></li>
                                            </ul>
                                        </li>
                                        <li id="career" class="dropdown"><a href="https://gurukulschool.org/career/">Career with Gurukul</a></li>
                                    </ul>
                                </li>
                                <li id="gallery" class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0)" class="nav-link">Gallery</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li id="photo-gallery" class="dropdown"><a href="https://gurukulschool.org/photo-gallery/">Photo Gallery</a></li>
                                        <li id="video-gallery" class="dropdown"><a href="#">Video Gallery</a></li>
                                        <li id="media-gallery" class="dropdown"><a href="#">Media Gallery</a></li>
                                    </ul>
                                </li>
                                <li id="download" class="nav-item dropdown simple-dropdown">
                                    <a href="javascript:void(0)" class="nav-link">Download</a>
                                    <i class="fa fa-angle-down dropdown-toggle" data-bs-toggle="dropdown" aria-hidden="true"></i>
                                    <ul class="dropdown-menu" role="menu">
                                        <li id="assignments" class="dropdown"><a href="#">Summer Assignments</a></li>
                                        <li id="mobile-app" class="dropdown"><a href="#">Mobile App</a></li>
                                        <li id="bus-tracking" class="dropdown"><a href="https://play.google.com/store/apps/details?id=com.vts.tracknovate.vts">Bus Tracking App</a></li>
                                        <li id="prospectus" class="dropdown"><a href="#">E-Prospectus</a></li>
                                        <li id="tc-download" class="dropdown"><a href="https://drive.google.com/drive/folders/0BxDWxddAyAPMN2ZrcXpOSktTVUU?usp=sharing">TC Download</a></li>
                                    </ul>
                                </li>
                                <li id="contact" class="nav-item"><a href="https://gurukulschool.org/contact/" class="nav-link">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto text-end hidden-xs pe-0 font-size-0">
                        <div class="header-search-icon search-form-wrapper">
                            <a href="javascript:void(0)" class="search-form-icon header-search-form"><i class="feather icon-feather-search"></i></a>
                            <!-- start search input -->
                            <div class="form-wrapper">
                                <button title="Close" type="button" class="search-close alt-font">×</button>
                                <form id="search-form" role="search" method="get" class="search-form text-start" action="search-result.html">
                                    <div class="search-form-box">
                                        <span class="search-label alt-font text-small text-uppercase text-medium-gray">What are you looking for?</span>
                                        <input class="search-input alt-font" id="search-form-input5e219ef164995" placeholder="Enter your keywords..." name="s" value="" type="text" autocomplete="off">
                                        <button type="submit" class="search-button">
                                            <i class="feather icon-feather-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- end search input -->
                        </div>
                        <div class="header-push-button d-none d-lg-inline-block hidden-xs">
                            <a href="javascript:void(0);" class="push-button">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="push-menu padding-50px-lr bg-white">
                <a href="javascript:void(0);" class="close-menu text-extra-dark-gray"><i class="fas fa-times"></i></a>
                <div class="push-menu-wrapper text-center" data-scroll-options='{ "theme": "dark" }'>
                    <h1 class="text-extra-dark-gray alt-font font-weight-700 letter-spacing-minus-3px text-uppercase no-margin-bottom">Hello</h1>
                    <span class="alt-font text-large text-uppercase d-block">Let's get connected.</span>
                    <div class="w-100 margin-3-rem-tb">
                        <img src="https://gurukulschool.org/assets/images/gurukul-logo.png" width="150">
                    </div>
                    <div class="margin-1-rem-bottom text-center">
                        <span class="alt-font text-large margin-1-rem-bottom w-70 mx-auto text-extra-dark-gray d-inline-block line-height-26px">CBSE Affiliation No.: 1030223</span><br>
                        <span class="alt-font text-large margin-1-rem-bottom w-70 mx-auto text-extra-dark-gray d-inline-block line-height-26px"><a href="mailto:contact@gurukulschool.org">contact@gurukulschool.org</a></span><br>
                        <span class="alt-font text-large margin-1-rem-bottom w-70 mx-auto text-extra-dark-gray d-inline-block line-height-26px"><a href="tel:+919826078184">+91 98260-78184</a></span>
                    </div>
                    <div class="text-center elements-social social-icon-style-02 margin-10px-bottom">
                        <ul class="small-icon dark">
                            <li><a class="facebook" href="https://www.facebook.com/gurukuldhamnod" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com/gurukuldhamnod" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a class="youtube" href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>        <!-- end header -->

        <!-- start page title -->
        <section class="bg-extra-dark-gray padding-30px-tb page-title-small">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-8 col-lg-6 text-center text-lg-start">
                        <h1 class="alt-font text-white font-weight-500 no-margin-bottom text-center text-lg-start">Notice Board</h1>
                    </div>
                    <div class="col-12 col-xl-4 col-lg-6 breadcrumb justify-content-center justify-content-lg-end text-small alt-font md-margin-10px-top">
                        <ul>
                            <li><a href="https://gurukulschool.org/">Home</a></li>
                            <li>Notice Board</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title -->

        <!-- start section -->
        <section class="padding-50px-tb bg-light-gray wow animate__fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 col-md-10">
                        <div class="panel-group accordion-event accordion-style-03" id="accordion3" data-active-icon="fa-angle-down" data-inactive-icon="fa-angle-right">
                            <!-- start accordion item -->
                            <div class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeIn" data-wow-delay="0.2s">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion3" href="#accordion-style-03-05" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">School Timings - Class Nursery, LKG, &amp; UKG</span>
                                            <i class="indicator fas fa-angle-down text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-03-05" class="panel-collapse collapse show" data-bs-parent="#accordion3">
                                    <div class="panel-body">
                                        आदरणीय पालकगण,<br>     
                                      	(कक्षा नर्सरी, एलकेजी, एवम यूकेजी - स्कूल समय मे परिवर्तन)<br><br>

 										शाला का शीतकालीन समय मंगलवार दिनाँक 01/11/22 से निम्नानुसार रहेगा।<br>
										शाला लगने का समय सुबह 10:20 बजे से<br>
										छुट्टी का समय दोपहर 2:20 बजे<br>
										बस से आने वाले छात्रों के लिए बस स्टॉप पर पहुंचने का समय नियमित समय से 20 मिनिट विलम्ब (देरी से) रहेगा।<br>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                          	<!-- start accordion item -->
                            <div class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeIn" data-wow-delay="0.2s">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion3" href="#accordion-style-03-04" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">School Timings - Class 1st to 12th</span>
                                            <i class="indicator fas fa-angle-down text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-03-04" class="panel-collapse collapse show" data-bs-parent="#accordion3">
                                    <div class="panel-body">
                                        आदरणीय पालकगण,<br>     
                                      	(कक्षा 1st से 12th - स्कूल समय मे परिवर्तन)<br><br>

 										शाला का शीतकालीन समय मंगलवार दिनाँक 01/11/22 से निम्नानुसार रहेगा।<br>
										शाला लगने का समय सुबह 9:30 बजे से<br>
										छुट्टी का समय दोपहर 3:20 बजे<br>
										बस से आने वाले छात्रों के लिए बस स्टॉप पर पहुंचने का समय नियमित समय से 20 मिनिट विलम्ब (देरी से) रहेगा।<br>
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                          	<!-- start accordion item -->
                            <div class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeIn" data-wow-delay="0.2s">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion3" href="#accordion-style-03-03" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">Diwali Holiday Notice</span>
                                            <i class="indicator fas fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-03-03" class="panel-collapse collapse" data-bs-parent="#accordion3">
                                    <div class="panel-body">
                                        आदरणीय पालकगण, (कक्षा नर्सरी से 12th)<br><br>
 
                                        शनिवार दिनाँक 22 अक्टूबर<br>
                                        (धनतेरस) से गुरुवार दिनाँक 27 अक्टूबर ( भाईदूज) तक दीपावाली पर्व के उपलक्ष्य में विद्यालय का अवकाश रहेगा।<br><br>

                                        💥✨🌟🌟आप सभी आदरणीय पालकों को दीपोत्सव के पुनीत पर्व पर गुरुकुल स्कूल की ओर से हृदयतल से शुभकामनाएं।🌟🌟✨💥🙏🏻💐
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                          	<!-- start accordion item -->
                            <div class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeIn" data-wow-delay="0.2s">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion3" href="#accordion-style-03-01" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">Parents-Teacher Meeting For Class 10th &amp; 12th</span>
                                            <i class="indicator fas fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-03-01" class="panel-collapse collapse" data-bs-parent="#accordion3">
                                    <div class="panel-body">
                                        आदरणीय पालकगण,<br>
										(Class 10th &amp; 12th)<br><br>

                                        आपको सूचित किया जाता है कि शुक्रवार दिनाँक 14/10/2022 को पालक-शिक्षक मीटिंग का आयोजन किया गया है, आप सभी से अनुरोध है कि कृपया अवश्य उपस्थित रहें एवं समय का विशेष ध्यान रखें। 🙏<br><br>

                                        समय 3.30 बजे से 5 बजे तक<br><br> 

                                        सत्यम ब्लॉक<br><br>

                                        नोट:- पालकों से विशेष अनुरोध है कि जो छात्र बाहर से आते है एवम उन्हें आप PTM के लिए स्कूल में ही रुकवाना चाहते हैं तो पाल्य के साथ एक एप्लीकेशन आवश्यक रूप से भेजें ताकि स्कूल प्रशासन को कोई कठिनाई ना हो।<br><br>

                                        गुरुकुल स्कूल धामनोद
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                            <!-- start accordion item -->
                            <div class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeIn" data-wow-delay="0.4s">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion3" href="#accordion-style-03-02" aria-expanded="false">
                                        <div class="panel-title">
                                            <span class="alt-font text-extra-dark-gray d-inline-block font-weight-500">Parents-Teacher Meeting For Class 9th &amp; 11th</span>
                                            <i class="indicator fas fa-angle-right text-extra-dark-gray icon-extra-small"></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="accordion-style-03-02" class="panel-collapse collapse" data-bs-parent="#accordion3">
                                    <div class="panel-body">
                                        आदरणीय पालकगण,<br>
                                        (Class 9th &amp; 11th)<br><br>

                                        आपको सूचित किया जाता है कि शनिवार  दिनाँक 15/10/2022 को पालक-शिक्षक मीटिंग का आयोजन किया गया है , आप सभी से अनुरोध है कि कृपया अवश्य उपस्थित रहें एवं समय का विशेष ध्यान रखें। 🙏🏻<br><br>

                                        समय 3.30 बजे से 5 बजे तक<br><br>

                                        सत्यम ब्लॉक<br><br>

                                        नोट:- पालकों से विशेष अनुरोध है कि जो छात्र बाहर से आते है एवम उन्हें आप PTM के लिए स्कूल में ही रुकवाना चाहते हैं तो पाल्य के साथ एक एप्लीकेशन आवश्यक रूप से भेजें ताकि स्कूल प्रशासन को कोई कठिनाई ना हो।<br><br>

                                        गुरुकुल स्कूल धामनोद
                                    </div>
                                </div>
                            </div>
                            <!-- end accordion item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

        <!-- start footer -->
                <footer class="footer-decor footer-dark bg-extra-dark-gray">
            <div class="footer-top padding-five-tb lg-padding-eight-tb md-padding-50px-tb">
                <div class="container">
                    <div class="row">
                        <!-- start footer column -->
                        <div class="col-12 col-lg-3 col-sm-6 last-paragraph-no-margin md-margin-40px-bottom xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Gurukul School</span>
                            <p class="md-w-80">Gurukul School is affiliated to CBSE and the affiliation number is 1030223. It is run by Late Shri Gokuldas Ji Bhandari Education And Social Welfare Society.</p>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-lg-2 offset-lg-1 col-sm-6 md-margin-40px-bottom xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Quick Links</span>
                            <ul>
                                <li><a href="https://gurukulschool.org/gurukul-overview/">About</a></li>
                                <li><a href="https://gurukulschool.org/career/">Career</a></li>
                                <li><a href="https://gurukulschool.org/contact/">Contact</a></li>
                            </ul>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-lg-3 col-sm-6 xs-margin-25px-bottom">
                            <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom xs-margin-10px-bottom">Our Location</span>
                            <p class="w-85 margin-15px-bottom">Maheshwar Road, Dhar District, Dhamnod, M.P. - 454552</p>
                            <p class="w-85 margin-15px-bottom">CBSE Affiliation No. - 1030223</p>
                        </div>
                        <!-- end footer column -->
                        <!-- start footer column -->
                        <div class="col-12 col-lg-3 col-sm-6">
                            <span class="alt-font font-weight-500 d-block text-white margin-20px-bottom">Contact Information</span>
                            <div class="w-100 d-inline-block margin-10px-top">
                                <div><i class="feather icon-feather-phone-call icon-very-small margin-10px-right"></i><a href="tel:+919826078184">+91 98260-78184</a></div>
                                <div><i class="feather icon-feather-phone-call icon-very-small margin-10px-right"></i><a href="tel:+919826022684">+91 98260-22684</a></div>
                                <div><i class="feather icon-feather-mail icon-very-small margin-10px-right"></i><a href="mailto:contact@gurukulschool.org">contact@gurukulschool.org</a></div>
                            </div>
                        </div>
                        <!-- end footer column -->
                    </div>
                </div>
            </div>
            <div class="footer-bottom padding-40px-tb border-top border-color-black-transparent">
                <div class="container"> 
                    <div class="row align-items-center">
                        <div class="col-12 col-md-3 text-center text-md-start sm-margin-20px-bottom">
                            <a href="https://gurukulschool.org" class="footer-logo"><img src="https://gurukulschool.org/assets/images/favicon.png" data-at2x="https://gurukulschool.org/assets/images/favicon.png" alt=""></a>
                        </div>
                        <div class="col-12 col-md-6 text-center last-paragraph-no-margin sm-margin-20px-bottom">
                            <p>Copyright &copy; 2023. Gurukul School.<br>Designed &amp; Developed With <i class="fas fa-heart animated pulse infinite" style="color: red;"></i> by <a href="https://worthever.com/" target="_blank"><strong>Worthever Multimedia</strong></a></p>
                        </div>
                        <div class="col-12 col-md-3 text-center text-md-end">
                            <div class="social-icon-style-12">
                                <ul class="extra-small-icon light">
                                    <li><a class="facebook" href="https://facebook.com/gurukuldhamnod" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a class="instagram" href="https://instagram.com/gurukuldhamnod" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li><a class="youtube" href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>        <!-- end footer -->
        
        <!-- common foot -->
        <!-- start scroll to top -->
<a class="scroll-top-arrow" href="javascript:void(0);"><i class="feather icon-feather-arrow-up"></i></a>
<!-- end scroll to top -->
<!-- javascript -->
<script type="text/javascript" src="https://gurukulschool.org/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="https://gurukulschool.org/assets/js/theme-vendors.min.js"></script>
<script type="text/javascript" src="https://gurukulschool.org/assets/js/main.js"></script>
        <script>
            $(document).ready(function(){
                $('#info').addClass('active');

                $('#notice-board').addClass('active');
            });
        </script>
    </body>
</html>