<head>

    <style>
      .h{
          text-decoration: none;
          color: rgb(128, 128, 128);
        }
        .h:hover{
          color: orange;
        }
        .hh{
          text-decoration: none;
          color: honeydew;
        }
        .hh:hover{
          color: orange;
        }
    </style>
</head>

<div style="background-color: rgba(0, 0, 0, 0.856); width: 100%;height: 350px;margin-top: 10px;">
    <div style="width: 30%;padding-left: 180px;padding-top: 80px;float: left;">
      <h6 style="color: whitesmoke;">Gurukul School</h6><br>
      <p style="color: grey;font-size: 16px;">Gurukul School is affiliated to CBSE</p><p style="color: grey;font-size: 16px;">and the affiliation number is 1030223.</p><p style="color: grey;font-size: 16px;">It is run by Late Shri Gokuldas Ji</p><p style="color: grey;font-size: 16px;">Bhandari Education And Social Welfare <p style="color: grey;font-size: 16px;">Society.</p>
    </div>
    <div style="width: 20%;float: left;padding-left: 120px;padding-top: 80px;">
      <h6 style="color: whitesmoke;">Quick Links</h6><br>
      <p style="color: grey;font-size: 16px;">
        <a href="http://127.0.0.1:8000/notes/overview/" class="h">About</a> <br><br> <a href="http://127.0.0.1:8000/notes/career/" class="h">Career</a> <br><br> <a href="http://127.0.0.1:8000/notes/contact/" class="h">Contact</a>
      </p>
    </div>
    <div style="width: 20%;float: left;padding-left: 20px;padding-top: 80px;">
      <h6 style="color: whitesmoke;">Our Location</h6><br>
      <p style="color: grey;font-size: 16px;">Maheshwar Road, Dhar District,</p><p style="color: grey;font-size: 16px;">Dhamnod, M.P. - 454552</p><br>

        <p style="color: grey;font-size: 16px;">CBSE Affiliation No. - 1030223</p>
    </div>
    <div style="width: 30%;float: left;padding-right: 200px;padding-top: 80px;padding-left: 20px;">
      <h6 style="color: whitesmoke;">Contact Information</h6><br><br>
      <p style="color: grey;"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>&emsp;<a href="tel:+919826078184" class="h">+91 98260-78184</a></p><p style="color: grey;"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>&emsp;<a href="tel:+919826022684" class="h">+91 98260-22684</a></p><p style="color: grey;"><i class="fa fa-envelope-o" aria-hidden="true"></i>&emsp;<a href="mailto:contact@gurukulschool.org" class="h">contact@gurukulschool.org</a></p>
    </div>
  </div>
  <div style="background-color: rgba(0, 0, 0, 0.846);width: 100%;height: 150px;">
    <div style="width: 33%;float: left;padding-left: 200px;padding-top: 30px;">
      <a href="" style="text-decoration: none;"><img style="width: 70px;height: 70px;" src="https://gurukulschool.org/assets/images/favicon.png"></a>
    </div>
    <div style="width: 33%;float: left;padding-left: 130px;padding-top: 50px;">
      <p style="color: grey;">Copyright © 2023. Gurukul School.</p>
    </div>
    <div style="width: 33%;float: left;padding-left: 200px;padding-top: 50px;">
      <p><a href="https://www.facebook.com/gurukuldhamnod" class="hh"><i class="fa fa-facebook" aria-hidden="true"></i></a>&emsp;&emsp;<a href="https://www.instagram.com/gurukuldhamnod/" class="hh"><i class="fa fa-instagram" aria-hidden="true"></i></a>&emsp;&emsp;<a href="https://www.youtube.com/@gurukulschooldhamnod2064" class="hh"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></p>
    </div>
  </div>